html {
    font-size: 16px;
}

body {
    font-family: 'Tisa Sans Pro', sans-serif;
    background-color: #f5f5f5;
}

button {
    cursor: pointer;
}

.section {
    display: grid;
    place-items: center;
    align-content: center;
}